@font-face {
    font-family: 'Goldplay-Regular';
    src: local('Goldplay Regular'), local('Goldplay-Regular'),
        url('Goldplay-Regular.woff2') format('woff2'),
        url('Goldplay-Regular.woff') format('woff'),
        url('Goldplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }