.ubicacion3{
    width: 100%;
    height: 60px;
    display: flex;
}

.lugar3{
    width:50%;
    height: 40px;
    display: flex;
    border-right: 1px black solid;
}

.lugar3  h2{
    margin: auto;
    font-size: 13px;
    font-weight: bold;
    width: 70%;
}

.lugar3 img{
    width: 30px;
    fill: purple;
    margin: auto;
}


.cambiar3{
    width:50%;
    float: right;
    height: 40px;
  display:flex ;
}

.cambiar3 .content{
    width: 100%;
    height: 40px;
    margin: auto;
    display: flex;
}

.cambiar3  .content h2{
    font-size: 13px;
    font-weight: bold;
    width: 70%;
    margin: auto;
}


.cambiar3 .content img{
    width: 30px;
    fill: purple;
    margin: auto;
}

.cambiar3 .select{

    height: 40px;
    margin: auto;
    font-size: 12px;
}

.cambiar3 .select select{

    height: 40px;
    margin: auto;
    margin-left: 20px;
    border: none !important;
}

.texto1{
    width: 100px;
    height: 100px;
}